<div class="container">
<h1 class="jumbotron"><%= @todo_item.description.titleize %></h1>

<%= render 'form', todo_item: @todo_item %>
<div style="padding-top:20px">
<button class="btn btn-outline-primary" ><%= link_to 'Show', @todo_item %></button>
<button class="btn btn-outline-primary"><%= link_to 'Back', todo_items_path %></button>
</div>
</div>
